
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


###< php storm ###
/.idea

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
